asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.7
gunicorn==23.0.0
psycopg2-binary==2.9.11
whitenoise==6.11.0
celery==5.5.3
django_celery_results==2.6.0
redis==7.0.1
chromadb==1.2.2
sentence-transformers==5.1.2
PyYAML==6.0.3
markdown==3.10
Pillow==11.3.0