Django==5.2.7
django-debug-toolbar==6.1.0
django-celery-results==2.6.0
celery==5.5.3
redis==7.0.1
amqp==5.3.1
billiard==4.2.2
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
kombu==5.5.4
vine==5.1.0
chromadb==1.2.2
onnxruntime==1.23.2
posthog==5.4.0
sentence-transformers==5.1.2
torch==2.9.0
transformers==4.57.1
tokenizers==0.22.1
safetensors==0.6.2
huggingface-hub==0.36.0
docling==2.58.0
docling-core==2.49.0
docling-ibm-models==3.10.2
docling-parse==4.7.0
langchain-text-splitters==1.0.0
langchain-core==1.0.2
markdown==3.10
python-docx==1.2.0
openpyxl==3.1.5
Pillow==11.3.0
pypdfium2==4.30.0
requests==2.32.5
httpx==0.28.1
urllib3==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
sqlparse==0.5.3